@import '../../styles/variables.scss';

.about {
  background: url('../../images/about-background.png') no-repeat;
  background-size: cover;

  color: $main-color;
  padding: 15px 0;

  &__container {
    margin: 0 auto;
    max-width: $content-width;

    @media (max-width: $content-width) {
      padding: 0 15px;
    }

  }

  &__line {
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
    background: transparent;
    height: 0px;
    width: 100%;
    margin: 0;
  }

  &__content {
    display: flex;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 15px;
    line-height: 1.6;

    @media (max-width: $screen-xs-width) {
      flex-direction: column;
    }
  }

  &__item {
    padding: 0 10px;
    width: 25%;

    @media (max-width: $screen-xs-width) {
      width: 100%;
    }

    hr {
      background: $main-color;
      height: 3px;
      width: 45px;
      border: 0;
      margin: 0 auto;
    }
  }

  &__item-title,
  &__item-subtitle {
    text-align: center;
  }

  &__item-image {
    margin: 0 auto 30px auto;
    width: 160px;
  }

  &__item-title {
    text-transform: uppercase;
    font-family: 'Bazar';
    font-size: 30px;
    margin-bottom: 15px;
  }

  &__item-subtitle {
    text-transform: uppercase;
    font-family: 'Roboto Slab';
    font-size: 16px;
    margin-bottom: 15px;
  }

  &__item-content {
    font-family: 'Roboto Slab';
    font-size: 16px;
    padding: 15px 0;

    &_dotted {
      border-bottom: 1px dotted;
      text-decoration: none;
      cursor: pointer;
      color: $main-color;
    }
  }
}
