.about-item {
    padding: 0 10px;

    &__title, &__subtitle ,  &__image {
        text-align: center;
    }

    &__title {
        text-transform: capitalize;
        font-family: 'Bazar';
        font-size: 30px;
    }

    &__subtitle {
        text-transform: capitalize;
        font-family: 'Roboto Slab';
        font-size: 16px;
    }

    &__content {
        font-family: 'Roboto Slab';
        font-size: 15px;
    }
    
   

}