@import './variables.scss';

.contact-me {
    background: url('../images/contact-background.png') no-repeat;
    background-size: cover;
    color: $secondary-color;

    padding: 15px 0;

    &__container {  
        margin: 0 auto;
        max-width: $content-width;

        @media (max-width: $screen-xs-width) {
            padding: 0 15px;
        }
    }

    &__line {
        border-top: 1px dashed rgba(0, 0, 0, 0.2);
        border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
        background: transparent;
        height: 0px;
        width: 100%;
        margin: 0;
    }


    &__header {
        h2 {
            color: $secondary-color;
            text-shadow: 1px 2px #484A4D, 3px 4px #D4CEBF;
        }
        hr {
            background-color: $secondary-color;
        }
    } 

    &__form {      
       max-width: 535px;
       width: 100%;
       font-family: 'Roboto Slab';
       font-size: 18px;

       margin: auto;
       padding: 40px 0;
    }

    &__input { 
        height: 42px;     
    }

    &__textarea {      
        min-height: 182px; 
        resize: none;
    }

    &__input, 
    &__textarea { 
        border-radius: 4px;
        width: 100%; 
                
        -webkit-appearance: none;
        outline: none;
        border: none;

        margin-bottom: 10px;
        padding: 10px;

        &::-webkit-input-placeholder {
            color: #A9A9A9;
        }
    }    

    &__form-button {      
        border-radius: 4px;
        height: 40px;
        width: 158px;
        cursor: pointer;

        font-family: 'Roboto Slab';
        font-weight: bold;

        background-color: $light-shadow-color;
        color: $main-color;
        
        border: none;
    }

    &__social-title {
        font-family: 'Bazar';
        text-align: center;
        font-size: 27px;
        text-transform: uppercase;
    }

    &__social-link {       
        height: 90px;
        width: 90px;
        padding: 8px;
    }

    &__social-links {
       display: flex;
       max-width: 535px;
       width: 100%;
       margin: auto;
       justify-content: space-around;
    }

    &__underline { 
        text-align: center;
        margin: 10px auto;

        width: 50px;
        height: 2px;

        background-color: $secondary-color;
    }
}