@font-face {
    font-family: 'Bazar';
    font-weight: normal;
    font-style: normal;

    src: url('/fonts/Bazar.woff') format('woff'),      
}
@font-face {
    font-family: 'Seaside Resort NF';
    font-weight: normal;
    font-style: normal;

    src: url('/fonts/SeasideResortNF.woff') format('woff'),      
}