.main-block {
  background: url('../images/Slider section BG.png') no-repeat;
  background-size: cover;
  padding: 15px 0;
  margin-top: 130px;
  color: #f6edd8;

  &__line {
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
    background: transparent;
    height: 0px;
    width: 100%;
    margin: 0;
  }
  .container {
    margin: 0 auto;
    max-width: 1068px;
  }

  h1 {
    text-align: center;
    font-size: 124px;
    font-family: 'Seaside Resort NF';
    margin-top: 15px;
  }

  .slider-container {
    width: 100%;
    background-color: #fbfaf6;
    padding: 5px 5px 60px 5px;
  }

  .slider {
    width: 100%;
    background-color: #fbfaf6;
    padding: 5px 5px 60px 5px;
  }

  &__message {
    font-weight: 500;
    font-family: 'Bazar';
    font-size: 30px;
    color: #f7ebd8;
    text-align: center;
    text-transform: uppercase;

    &_main {
      font-size: 36px;
    }
  }

  &__ribbon-container {
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__ribbon-dots {
    display: flex;
    max-width: 70px;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 600px) {
      display: none;
    }
    

    &_left {
        margin-right: 5px;     
    }
    &_right {
        margin-left: 5px;       
    }


    span {
      display: block;
      padding: 0px;
      height: 5px;
      width: 5px;
      content: '';
      border-radius: 50%;
      background-color: #fff1ce;
      box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0, 0, 0, 0.6);
    }
  }
}
