$screen-xss-width: 600px;
$screen-xs-width: 768px;
$screen-md-width: 992px;
$screen-lg-width: 1200px;

$content-width: 1068px;

$light-shadow-color: #fcfaf7;
$dark-shadow-color: #393a3a;

$main-color: #383a3c;
$secondary-dark-color: #38353e;
$secondary-color: #F6EDD8;
$secondary-light-color: #fbfaf6;

$ribbon-color:#fff1ce;