@import '../../styles/variables.scss';

.blog {
  background: url('../../images/blog-section-bg.png') no-repeat;
  background-size: cover;

  padding: 15px 0;
  color: $main-color;

  &__container {
    margin: 0 auto;
    max-width: $content-width;

    @media (max-width: $content-width) {
      padding: 0 15px;
    }
  }

  &__line {
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
    background: transparent;
    height: 0px;
    width: 100%;
    margin: 0;
  }  

}
