@import '../../styles/variables.scss';

.header {
    background: url('/images/backgrounds/main-section-bg.png') no-repeat;
    background-size: cover;
    height: 130px;
    position: fixed;
    width: 100%;   
    top: 0; 
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    padding-bottom: 15px;
    z-index: 2;

    &__container {       
        border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;
    }    

    nav {   
        width: 100%;
        height: 100%;        
        font-family: 'Bazar';
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;     
        font-size: 30px;  
        text-decoration: none;  
        max-width: $content-width;
        margin: 0 auto;

        @media (max-width: $screen-xss-width) {
            padding: 0 20px;
            font-size: 24px;
        }
    }

    &__items {
        display: flex;
        justify-content: space-around;
        flex-grow: 1;

        @media (max-width: $screen-xss-width) {
            flex-direction: column;
            align-items: center;
            height: 100%;
        }
          
    }
   
    &__item {       
        cursor: pointer;
        text-decoration: none;
        color: $secondary-color;
    }        
    
    &__logo {
        width: 160px;
        height: 160px;    
        margin: 45px 15px 0 15px;

        @media (max-width: $screen-xs-width) {
           display: none;
        }
    }
}
