@import '../../styles/variables.scss';

.slider {
  max-width: 1068px;
  width: 100%;

  background-color: $secondary-light-color;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 4px;

  &__container {
    position: relative;
    width: 100%;
    max-height: 420px;
    height: 45vw;
  }

  &__slide {
    height: 100%;
    width: 100%;
    position: absolute;

    transition: all 0.3s ease-in;

    &_hidden {
      opacity: 0;
    }
  }

  &__image {
    margin: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &__arrow {
    position: absolute;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.2);

    height: 56px;
    width: 28px;

    background-color: #fdf9f6;

    cursor: pointer;

    top: 50%;
    transform: translateY(-50%);

    &:hover {
      color: $main-color;
    }

    &_left {
      justify-content: flex-end;
      border-bottom-left-radius: 56px;
      border-top-left-radius: 56px;
      right: -5px;
    }

    &_right {
      justify-content: flex-start;
      border-bottom-right-radius: 56px;
      border-top-right-radius: 56px;
      right: calc(100% - 23px);
    }
  }

  &__label {
    font-family: 'Bazar';
    font-size: 24px;
    font-weight: bold;
    color: $main-color;
    margin: 20px;
    text-align: center;

    @media (max-width: $screen-xs-width) {
      font-size: 16px;
      margin: 10px;
    }
  }
}
